# Created by .ignore support plugin (hsz.mobi)
/temp/
/distrib/
/target/
/.settings/
/bin/
/gen/

*/target/
*/.settings/
*/bin/
*/gen/


.idea/
.DS_Store
.tern-project

*.apk
*.ap_
*.exe
*.test
*.prof
*.class
*.prefs
*.classpath
*.iml
*.dex
*.project